@use "../base/variables" as vars;

section {
    background-color: vars.$secondary-color;
    p{
        color: vars.$text-color;
        margin: 0 50px;
        font-size: 1.4rem;
        text-align: left;
        white-space: pre-line;
    }
    img {
        max-width: 100%;
        display: block;
        margin: 0 auto;
        float: right;
        margin: 10px 10px 10px 0;
    }
    iframe{
        margin: 40px;
    }
    hr{
        margin: 0 auto;
        width: 95%;
    }
    .aTagStyle{
        display: inline-block;
        color: vars.$text-color;
        font-size: 2em;
        margin: 20px 0;
    }
}