@import "../common/_common.scss";
main {
  margin-top: #{$MobileHeaderHeight};
  .mainContainer {
    width: 100%;
    align-items: flex-start;
    .title {
      align-self: center;
    }
    .normalBlock {
      width: 100%;
      .col {
        flex-direction: column;
        .content {
          width: 100%;
          flex-direction: column;
          align-items: flex-start;
          padding: 0;
          margin-right: 0;
          &:not(:last-child) {
            margin-bottom: 20px;
          }
          .title {
            margin-bottom: 5px;
            align-self: flex-start;
          }
          input {
            width: 100%;
          }
        }
      }
    }
    .mobileShow {
      width: 100%;
      .orderContainer {
        margin-bottom: 20px;
      }
    }
    .table {
      width: 100%;
      tbody {
        .imgAndVideoContainer {
          display: flex;
          flex-direction: column;
          width: 100%;
          .item {
            width: 100%;
            height: 250px;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            img {
              max-width: 100%;
              max-height: 100%;
            }
            video {
              min-width: 100%;
            }
          }
        }
      }
    }
  }
}
