@import "../common/_common.scss";
main{
    margin-top: #{$MobileHeaderHeight};
    .mainContainer{
        .normalBlock{
            width: 100%;
            .item{
                width: 100%;
            }
            &.service{
                flex-wrap: wrap;
                justify-content: flex-start;
                .item{
                    width:50%;
                    min-width: 120px;
                    img{
                        min-width: 120px;
                        max-width: 200px;
                    }
                }
            }
            
        }
        &.linear{
            .normalBlock{
                position: relative;
                flex-wrap: wrap;
                a{
                    position: relative;
                }
                .line{
                    width: 10px;
                    height: 100%;
                    top: 100px;
                    z-index: -1;
                    left: 47%;
                }
                .item{
                    position: relative;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 60px;
                    .number{
                        margin-bottom: 0;
                    }
                    img{
                        width: 125px;
                        margin: 0 20px;
                    }
                    .describe{
                        margin: 0 ;
                        width: 120px;
                        text-align: left;
                        font-size: 14px;
                    }
                }
            }
        }
        &.production{
            .normalBlock{
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                .item{
                    display: flex;
                    justify-content: space-between;
                    width: calc((100% / 2) - 40px);
                    margin: 0 20px 40px;
                    img{
                        width: 100%;
                        margin-bottom: 20px;
                        max-width: 200px;
                    }
                
                }
            }
        }
    }
    .modal{
        .modal-dialog{
            min-width: 250px;
            .modal-body{
                .context{
                    flex-direction: column;
                    align-items: center;
                    .right{
                        width: 95%;
                        padding: 0;
                    }
                    .dataContext{
                        justify-content: center;
                        font-size: 14px;
                        .describe{
                            min-width: 70px;
                        }
                    }
                }
                
            }
        }
        &.production{
            .modal-header{
                padding-right: 0;
            }
            .modal-content{
                padding: 20px 10px 10px;
            }
            .describe{
                margin: 60px 0;
            }
        }
        &.maintain{
            .modal-content{
                width: 80%;
                margin: 0 auto;
            }
           
        }
    } 
}