<!DOCTYPE html>
html(lang="pug")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title GULP 4
        link(type="text/css" href="app.css?v=##version##" rel="stylesheet")
    body
        header 
            h1
                span
            - var numbers = ['one', 'two', 'three']
            ul
            each number in numbers
                li= number
        section
            a(class="aTagStyle" href="https://github.com/gulpjs/gulp#readme") github
            <p>
                |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas deserunt modi fuga soluta repudiandae a quae, error voluptatem doloremque harum alias dolorem tempora fugiat provident mollitia! Aspernatur optio dignissimos provident!
                |Id rem, reiciendis, neque beatae autem vitae vel perferendis praesentium libero voluptatibus fugiat suscipit pariatur, deleniti repellat iusto officia non perspiciatis? Vel molestias deleniti officiis optio magni. Magnam, maiores velit?
                |Culpa sapiente assumenda totam aliquid repellat cupiditate voluptate quaerat ab perferendis, cum aliquam accusantium eaque praesentium doloremque debitis repudiandae, animi necessitatibus dolorem facilis illo! Voluptate similique sit accusamus laborum magni.
                <img src="/src/images/download.jpg" alt="">
                |Facilis, nobis! Id consequatur, cupiditate ex deleniti ea vel. Maiores repellendus quaerat possimus, commodi ullam sit perferendis odio perspiciatis exercitationem iusto explicabo laudantium illum sint officiis veniam corporis totam magni.
                |Eum, odit consequatur tempora recusandae vitae et aliquam quibusdam dolorem dolores aliquid molestias maxime provident. Exercitationem, nostrum? Dolor, natus maiores unde sint quo esse autem est explicabo ducimus dicta eligendi.
                |Odio aliquam quibusdam officiis explicabo ipsam reprehenderit provident unde corrupti consectetur eaque dolorum obcaecati nemo cupiditate, laborum, veniam itaque velit qui. Vel, adipisci ut deserunt sint enim rem obcaecati voluptatum.
                |Iure dolorem voluptates est quaerat ex neque aliquid laborum, voluptate aspernatur reprehenderit perferendis totam, eos quibusdam incidunt assumenda enim qui veritatis dolores tenetur adipisci consectetur autem.
            </p>
            iframe(width="80%" height="600px" src="https://www.youtube.com/embed/3R5Coj4JxTo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
            hr
            iframe(width="80%" height="600px" src="https://www.youtube.com/embed/Ojz4PUbMNa0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
        script(lang="javascript" src="app.js?v=##version##")

            
